*{
    font-family: Raleway;
    color: black;
    background-color: gray;
  }
  
  header{
    padding-left: 10px;
    height: 500px;
    border-bottom: 1px solid lightgray;
    display: inline;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    margin-top: 20px;
    box-sizing: border-box;
  }
  
  #logo{
    margin: 0 auto 15px;
    padding: 0 2px;
    max-width: 35%;
    height: auto;
    text-align: center;
    display: block;
    border: 1px solid lightgray;
    background-color: gray;
  }
  
  nav{
    margin: 60px auto;
    text-align: center;
    cursor: pointer;
    color: black;
    background-color: gray;
    font-family: raleway;
  }
  
  nav a{
    margin: 10px;
    color: gray;
    font-family: raleway;
  }

  div .home-img{
    height: 100px;
    width: 100px;
    object-fit: cover;
  }

  #yellow-room{
    margin: 0 auto;
    float: left;
    display: inline-flex;
  }

  #garden-kitchen{
    margin: 0 auto;
    float: right;
    display: inline-flex;
  }

  footer{
    background-color: darkgray;
    font-weight: bold;
    display: block;
  }

  .copyright{
    text-align: left;
  }

  .contact{
    text-align: right;
    display: block;
  }

  footer a{
    color:black;
    text-decoration: underline;
    cursor: pointer;
  }

  @media (max-width: 400px) {
      
  #yellow-room{
    margin: 0 auto;
    float: left;
    display: inline;
    orientation: portrait;
  }
    #garden-kitchen{
    margin: 0 auto;
    float: right;
    display: inline-flex;
    justify-content: center;
    overflow: visible;
    overflow-clip-margin: unset;
    width: 100%;
  }
  }

@media only screen and (min-width: 400px){
    #yellow-room{
    margin: 0 auto;
    float: left;
    display: inline-flex;
    justify-content: center;
  }

  #garden-kitchen{
    margin: 0 auto;
    float: right;
    display: inline-flex;
    justify-content: center;
    overflow: visible;
    overflow-clip-margin: unset;
    width: 100%;
  }
    footer{
    background-color: darkgray;
    border: 1px solid gray;
    font-weight: bold;
    display: block;
    text-align: center;
  }
}
  
